body {
    background-image: url("/img/background.jfif");
    background-color: rgb(0, 0, 0, 0.5) !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
}

@media (max-width: 992px) {
    body {
        background-size: auto 100%;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
th,
tr {
    color: white !important;
    font-family: "Open Sans", "Calibri", sans-serif;
}

h4.text-center {
    font-size: 2.5rem;
}
a {
    color: rgb(255, 203, 61) !important;
}

a.class1 {
    color: rgb(255, 203, 61) !important;
    font-size: 1.5rem;
}

a.class2 {
    color: rgb(0, 0, 0) !important;
    font-size: 1rem;
}

a.class3 {
    color: rgb(255, 203, 61) !important;
    font-size: 3vh;
}
a.class4 {
    color: rgb(255, 203, 61) !important;
    font-size: 1rem;
}
header {
    font-size: 5rem;
    font-family: "DejavuSans";
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

    &.header-medium {
        font-size: 4rem;
    }

    &.header-small {
        font-size: 2.5rem;
    }

    overflow: hidden;
}

h2 {
    font-weight: 600;
}

.text-muted {
    color: rgb(182, 182, 182) !important;
}

.color-yellow {
    color: rgb(248, 203, 78) !important;
}

.bg-none {
    background-color: transparent !important;
    outline: none;
}

.bg-dark {
    background-color: rgb(0, 0, 0, 0.8) !important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    opacity: 0.7;
}

.dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
}

.drop1 {
padding-right: 88vh;
}

@font-face {
    font-family: "DejavuSans";
    src: url("./public/fonts/DejaVuSans.woff2") format("woff2"),
        url("./public/fonts/DejaVuSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.column {
    float: left;
    width: 20%;
    border-style: solid;
    border-color: white;
    padding-left: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    //border-style: solid;
    //border-color: white;
}
.row1 {
    border-top: solid;
    border-color: white;
    padding-top: 5px;
}

table.table1,
th,
td {
    border: 3px solid white;
    padding-right: 10px;
    padding-left: 10px;
    // width: 400px;
}

table.table1,
th,
td {
    margin-left: auto;
    margin-right: auto;
}

#subcat th {
    text-align: center;
    border: 3px transparent;
}



@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
